<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Registration of the Active Query Builder settings section -->
    <section name="aspQueryBuilder" type="ActiveQueryBuilder.Web.Server.Configuration.AspQueryBuilderConfiguration, ActiveQueryBuilder.Web.Server"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="NorthwindXmlMetaData" value="../Sample databases/Northwind.xml"/>
    <add key="Db2XmlMetaData" value="../Sample databases/db2_sample_with_alt_names.xml"/>
    <add key="NorthwindDataBase" value="../Sample databases/Nwind.mdb"/>
    <add key="SqLiteDataBase" value="../Sample databases/chinook.db"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpModules/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" culture="neutral" publicKeyToken="db937bc2d44ff139"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.106.0" newVersion="1.0.106.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
  <!-- Active Query Builder settings section -->
  <aspQueryBuilder>
    <!-- properties of the QueryBuilder component -->
    <syntaxProvider type="ActiveQueryBuilder.Core.MSSQLSyntaxProvider, ActiveQueryBuilder.Core" /> <!-- the necessary tag -->
    <metadataProvider type="ActiveQueryBuilder.Core.MSSQLMetadataProvider, ActiveQueryBuilder.MSSQLMetadataProvider"/> <!-- only needed in case of live database connection -->
    <metadataSource xml="C:\Work\ActiveQueryBuilderASPNET_3.0\src\Samples\Sample databases\Northwind.xml"><!-- xml attribute: Absolute path to your metadata file -->
      <!-- You can setup live database connection instead. Remove the xml attribute, uncomment the following line and specify correct connection string for your environment. -->
      <!-- <dbConnection type="System.Data.SqlClient.SqlConnection, System.Data" connectionString="data source=.\sqlexpress; integrated security=true" /> -->
    </metadataSource>
  </aspQueryBuilder>
</configuration>