<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="NorthwindXmlMetaData" value="../Sample databases/Northwind.xml"/>
    <add key="Db2XmlMetaData" value="../Sample databases/db2_sample_with_alt_names.xml"/>
    <add key="NorthwindDataBase" value="../Sample databases/Nwind.mdb"/>
    <add key="SqLiteDataBase" value="../Sample databases/chinook.db"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="/GetData" type="WebForms_Samples.Handlers.QueryResults"/>
    </httpHandlers>
    <httpModules/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" culture="neutral" publicKeyToken="db937bc2d44ff139"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.108.0" newVersion="1.0.108.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
    <handlers>
      <add verb="*" path="QueryResultsDemo/GetData" name="QueryResults" type="WebForms_Samples.Handlers.QueryResults"/>
    </handlers>
  </system.webServer>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="Logger"/>
    </root>
    <appender name="Logger" type="log4net.Appender.RollingFileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="Log.txt"/>
      <appendtofile value="true"/>
      <rollingstyle value="Size"/>
      <maxsizerollbackups value="10"/>
      <maximumfilesize value="100MB"/>
      <staticlogfilename value="true"/>
      <filter type="log4net.Filter.LevelMatchFilter">
        <!-- ALL DEBUG INFO WARN ERROR FATAL OFF -->
        <level value="ALL"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p [%d] %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>