<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Registration of the Active Query Builder settings section -->
    <section name="aspQueryBuilder" type="ActiveQueryBuilder.Web.Server.Configuration.AspQueryBuilderConfiguration, ActiveQueryBuilder.Web.Server"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="NorthwindXmlMetaData" value="../Sample databases/Northwind.xml"/>
    <add key="Db2XmlMetaData" value="../Sample databases/db2_sample_with_alt_names.xml"/>
    <add key="NorthwindDataBase" value="../Sample databases/Nwind.mdb"/>
    <add key="SqLiteDataBase" value="../Sample databases/chinook.db"/>
    <add key="AllowedHost" value="http://localhost:9080" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <httpModules/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules/>
  </system.webServer>
  <aspQueryBuilder>
    <syntaxProvider type="ActiveQueryBuilder.Core.MSSQLSyntaxProvider, ActiveQueryBuilder.Core" />
    <metadataSource xml="C:\Work\ActiveQueryBuilderASPNET_3.0\src\Tests\WebForms\AdventureWorks2014.xml"></metadataSource>
  </aspQueryBuilder>
  <!--aspQueryBuilder>
    <syntaxProvider type="ActiveQueryBuilder.Core.MSSQLSyntaxProvider, ActiveQueryBuilder.Core" />
    <metadataSource xml="AdventureWorks.xml"></metadataSource>
  </aspQueryBuilder-->
  <!--aspQueryBuilder>
    <syntaxProvider type="ActiveQueryBuilder.Core.MySQLSyntaxProvider, ActiveQueryBuilder.Core" />
    <metadataSource xml="Sakila.xml"></metadataSource>
  </aspQueryBuilder-->
</configuration>