@{
    ViewBag.Title = "AngularJS Client Rendering Demo";
}

<div class="row" ng-app="activeQueryBuilder">
    <div class="col-md-12">
        <h1>AngularJS Client Rendering Demo</h1>
        <p>
            Active Query Builder starts immediately on the page load.
        </p>
    </div>
    <div class="col-md-12">
        <div query-builder></div> <!-- {Translate} Здесь будет отрисован QueryBuilder -->
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script type="text/javascript" src="/aqb.client.js"></script>

    <script>
        angular.module("activeQueryBuilder", [])
        .directive("queryBuilder", function ($window) { // {Translate} Регистрируем директиву которую можно использовать в html
            return {
                templateUrl: '/content/query-builder-template.html', // {Translate} Здесь шаблон нашей стандартной разметки
                link: function (scope, element, attrs) {
                    var instanceId = "AngularJS";
                    var ui = $window.AQB.Web.UI;
                    ui.QueryBuilder(instanceId, element.find('#qb'));
                    ui.ObjectTreeView(instanceId, element.find('#treeview'));
                    ui.SubQueryNavigationBar(instanceId, element.find('#navbar'));
                    ui.Canvas(instanceId, element.find('#canvas'));
                    ui.StatusBar(instanceId, element.find('#statusbar'));
                    ui.Grid(instanceId, element.find('#grid'), { orColumnCount: 0 });
                    ui.SqlEditor(instanceId, element.find('#sql'));
                    ui.startApplication(instanceId);
                }
            }
        });
    </script>
}